$bg-primary: #fff;
$bg-brand: #1e3120;
$bg-card: #faf4f4;
$bg-search-bar: #f3f4f3;

$text-black: #000;
$text-title: $bg-primary;
$text-subtitle: #77ab82;
$text-primary: $bg-brand;
$text-secondary: #978f88;

$btn-bg-primary: $text-title;
$btn-bg-secondary: $text-subtitle;
$btn-hover-primary: $btn-bg-secondary;
$btn-hover-secondary: #2a542a
