@use '@/style/variables' as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-family: 'Libre Bodoni', serif;
}

.container {
    width: min((100% - 3rem), 1200px);
    margin-inline: auto;
    padding: 1.25rem 0;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.font-07{
    font-size: 0.7rem
}
.font-09{
    font-size: 0.9rem
}
.font-12{
    font-size: 1.2rem
}
.font-30{
    font-size: 3rem
}

